:root {
    --dark-gray: #111111;
    --white: #dddddd;
    --tr-white: rgba(255, 255, 255, 0.5);
}

* {
    background-color: var(--dark-gray);
    color: var(--white);
    border-color: var(--white);
    font-family: monospace;
}

button {
    border-radius: 5px;
    height: 3em;
}

#ctrls {
    display: flex; 
    justify-content: space-between;
}

#ctrls, #colorButtons, #colors  {
    margin: 20px 10%;
}

#container svg {
    width: 100%;
    height: auto;
}
#ctrls > * {
    display: inline-block;
    margin:5px;
    padding:5px;
    border: 1px solid var(--tr-white);
}
#svgOcta {
    display:none;
    height:4em;
    width:auto;
}
.remove-button {
    background-color: var(--dark-gray);
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    margin-right: 0.5em;
    border-radius: 5px;
    height:2em;
}